*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:grey;
}

h1{
    font-family:sans-serif;
    color:transparent;
    background:url(img/vague.jpg);
    font-size:100px;
    letter-spacing:10px;
    -webkit-background-clip:text;
    background-clip:text;
    animation-name:fondEcranBouge;
    animation-duration:30s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
}

@keyframes fondEcranBouge{
    from{
        background-position:0 0;
    }
    to{
        background-position:100% 100%;
    }
    
}